/* Fonts */
@font-face {
  font-family: "bitstream";
  src: url("fonts/vera.ttf") format("truetype");
  src: url("fonts/verait.ttf");
  src: url("fonts/verabd.ttf");
  src: url("fonts/verabi.ttf");
}

@font-face {
  font-family: "bitstream_vera_serifroman";
  src: url("VeraSerif-webfont.eot");
  src: url("VeraSerif-webfont.eot?#iefix") format("embedded-opentype"), url("VeraSerif-webfont.woff2") format("woff2"), url("VeraSerif-webfont.woff") format("woff"), url("VeraSerif-webfont.ttf") format("truetype"), url("VeraSerif-webfont.svg#bitstream_vera_serifroman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dancing Script";
  src: url("fonts/dancing_script.ttf") format("truetype");
}

@font-face {
  font-family: "Dina's handwriting";
  src: url("fonts/dina_'s handwriting.ttf");
}

@font-face {
  font-family: "Croissant One";
  src: url("fonts/CroissantOne-Regular.ttf") format("truetype");
}

/* Colors */
/*Head and foot */
header {
  padding: 1em;
  background: #579c87;
  color: #fdcb46;
  font-family: mouser, bitstream, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

header a {
  text-decoration: none;
  color: #fdcb46;
}

footer {
  background: #579c87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  font-family: mouser, bitstream, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: #fdcb46;
  margin: 25px 17px 25px 17px;
}

footer a:hover {
  -webkit-animation: shake 150ms ease-out 0.2s 5;
          animation: shake 150ms ease-out 0.2s 5;
}

/* Keyframes */
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}

/* Main */
body {
  margin: 0px;
}

main {
  width: 75%;
  background: #edefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-bottom: 70px;
  height: 1150px;
}

main tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 45px 0px 45px;
  line-height: 2em;
}

main tr td:nth-of-type(2) {
  font-weight: 700;
}

main h1 {
  font-family: Dancing Script;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: -webkit-gradient(linear, left top, right top, from(#0022db), to(#0889fb));
  background: linear-gradient(to right, #0022db, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main img {
  height: 3rem;
  width: 26rem;
  margin: auto;
  overflow: hidden;
}

.titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 15px 50px 15px;
  font-family: "Dina's handwriting";
}

.titles h2 {
  -webkit-transition: background-size 0.4s ease-in-out;
  transition: background-size 0.4s ease-in-out;
  background-size: 0 100%;
}

.titles h2:hover {
  background: linear-gradient(to top, blue 0%, blue 2px, transparent 2px) no-repeat;
  background-size: 100% 100%;
}

table {
  font-family: "Dina's handwriting";
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0px 25px 0px;
}

.foot .note-small {
  width: 60px;
  height: 60px;
}

.foot p {
  margin: 0px 10px 0px 10px;
  font-weight: 900;
  font-size: 1.6em;
}

@media all and (max-width: 1024px) {
  main {
    width: 100%;
    height: 2600px;
    -webkit-text-size-adjust: 225%;
       -moz-text-size-adjust: 225%;
        -ms-text-size-adjust: 225%;
            text-size-adjust: 225%;
    margin: 0px;
  }
}
/*# sourceMappingURL=style__menu_delice.css.map */