                            /* Fonts */

@font-face{
    font-family: 'bitstream';
    src: url('fonts/vera.ttf') format('truetype');
    src: url('fonts/verait.ttf');
    src: url('fonts/verabd.ttf');
    src: url('fonts/verabi.ttf');
}

@font-face{
    font-family: 'Sharpie Missy';
    src: url('fonts/missy-sharpie-italic.ttf') format('truetype');
}

                            /* Colors */

$clr--header: #579c87;
$clr--txt-header: #fdcb46;
$clr--bg-note: #fcdfdb;

                            /*Head and foot */

header{
    padding: 1em;
    background: $clr--header;
    color: $clr--txt-header ;
    font-family: mouser, bitstream, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 1.2rem;
}

footer{
    background: $clr--header;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: mouser, bitstream, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    a{
        text-decoration: none;
        color: $clr--txt-header;
        margin: 25px 17px 25px 17px;
        &:hover{
            animation: shake 150ms ease-out 0.2s 5;
        }
    }
}

                            /* Keyframes */

@keyframes shake{
    0%{
        transform: translateX(0);
                                }
    50%{
        transform: translateX(3px);
                                }
    100%{
        transform: translateX(-3px);
    }
}

                            /* Main */
                        
main{
    width: 75%;
    background: $clr--bg-note;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 70px;
    font-family: sharpie missy;
    tr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 45px 0px 45px;
    line-height: 2em;        
        td:nth-of-type(2){
            font-weight: 700;
        }
    }
    .note{
        width: 100px;
        height: 100px;
    }
    p, h1{
        align-self: center;
        
    }
    h2{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            margin: auto;
            width: 29rem;
            height: 2.5rem;
            overflow: hidden;
        }
    }
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px 0px 25px 0px;
    .note-small{
        width: 60px;
        height: 60px;
    }
    p{
        margin: 0px 10px 0px 10px;
        font-weight: 1000;
        font-size: 1.6em;
    }
}
